<div class="pokemon-card" *ngIf="pokemon">
    <div class="pokemon-card__image">
        <img [src]="pokemon.image">
    </div>

    <div class="pokemon-card__number">
        N° {{pokemon.number}}
    </div>
    <div class="pokemon-card__name">
        {{pokemon.name}}
    </div>
    <div class="pokemon-card__types">
        <div class="pokemon-card__type"
            *ngFor="let type of pokemon.types"
            [class] = "'pokemon-card__type--' + type.toLowerCase()">
            {{type}}
    </div>
        <!-- <div class="pokemon-card__type pokemon-card__type--poison">Poison</div> -->
    </div>
</div>